html,body{
    margin: 5px;
    text-align: center;

}
div{
    text-align: left;
}
#main{
    display: inline-block;
    width: 800px;

}

#chat {
    float:left;
    display: inline-block;
    width: 70%;
    height: 520px;


}
#chat ul{
    overflow-y: scroll;
    height: 460px;
    padding: 0px;
    margin: 0px;
}
#chat ul li {
    padding: 3px;
    overflow-wrap: break-word;
}
#chat ul span.user{
    display: inline-block;
    width: 100px;
}
#chat div{
    height: 52px;
    margin-top: 5px;
}
#chat div input {
    width: 80%;

    float: left;
}
#chat div button {
    width: 15%;
    float: right;
    margin-left: 5px;
}
#user_list{
    float:right;
    display: inline-block;
    width: 28%;



}
#user_list ul{
    height: 360px;
    padding: 5px;
    margin: 0px;
}
#user_list div#setting{
    padding: 5px;
}
#info{
    height: 520px;
    clear: both;
    display: block;
}
#room_list{
    width: 100%;
    margin-top:10px;
    display: inline-block;
    clear: both;
    min-height: 100px;
}
#room_list div.panel{
    width: 190px;
    display: inline-block;
    margin-right: 5px;
}
#room_list div.join{
    padding: 5px;
    text-align: center;
}
#room_list ul{
    display:inline-block;

    padding:5px;
    margin-right: 5px;
}
#create_room{
    clear:both;display: block;width: 100%;margin-top: 10px;padding-bottom:10px;border-bottom:1px solid #f2f2f2;

}
div.rps span{
    display:inline-block;
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
div.rps span.r{
    background-image:url("/img/slice_0_0.png");

}
div.rps span.p{
    background-image:url("/img/slice_0_1.png");
}
div.rps span.s{
    background-image:url("/img/slice_0_2.png");
}
div.disable span.r {
    background-image:url("/img/slice_0_0b.png");
}
div.disable span.p {
    background-image:url("/img/slice_0_1b.png");
}
div.disable span.s {
    background-image:url( "/img/slice_0_2b.png");
}

ul {
    list-style: none;
}
#game{
    text-align: center;
    padding-top: 10px;
}
#game div{
    height: 150px;
    text-align: center;
}
div#mine span,div#other span{
    display:inline-block;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
div#other span{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
div#mine span.R{
    background-image:url("/img/slice_0_0.png");
}
div#mine span.P{
    background-image:url("/img/slice_0_1.png");
}
div#mine span.S{
    background-image:url("/img/slice_0_2.png");
}
div#other span.R{
    background-image:url("/img/slice_0_0.png");
}
div#other span.P{
    background-image:url("/img/slice_0_1.png");
}
div#other span.S{
    background-image:url("/img/slice_0_2.png");
}
